:root {
  --background-default: #F5F4F0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  --accent-blue: #0C51A7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

hr {
  margin: 40px 0;
}

header + hr {
  margin-top: 40px;
}

.page {
  font-family: "Open Sans", sans-serif;
}

.page-title {
  margin-bottom: 40px;
}

.container {
  padding: 88px 80px 65px;
}

.container img {
  border-radius: 28px;
  width: 100%;
}

.container > header p {
  margin-top: 24px;
  font-style: italic;
  color: var(--text-secondary);
}

.content header {
  margin: 64px 0;
}

.content h2 {
  margin-bottom: 8px;
}

.card-content p + p {
  margin-top: 30px;
}

.card-travel {
  margin-bottom: 48px;
}

.card-travel img {
  margin-bottom: 20px;
}

.description {
  text-align: center;
}

.headline {
  color: var(--text-headline);
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

ul li {
  margin-left: 25px;
  color: var(--accent-blue);
  font-weight: bold;
}

ul li::marker {
  color: var(--text-secondary);
}

#item-1 {
  color: var(--accent-purple);
}

#item-2 {
  color: var(--accent-pink);
}
#item-3 {
  color: var(--accent-orange);
}

footer {
  text-align: center;
  margin-bottom: 48px;
}